<footer class="footer">
  <div class="footer-arrow">
    <a href="index.html#tips"> 
     <img class="arrow_up" src="../assets/images/ico-arrow.svg" alt="go to Insomnia Tips"/>
   </a>
  </div>
  <div class="wrapper-footer"> 
    <nav class="info">
       <ul>
         <li>
           <a href="https://adalab.es/">Articles</a> 
         </li>
         <li>
           <a href="https://adalab.es/">Books</a>
         </li>
         <li>
           <a href="https://adalab.es/">Events</a>
         </li>
         <li>
           <a href="https://adalab.es/">Reasons</a>
         </li>
         <li>
           <a href="https://adalab.es/">Tips</a>
         </li> 
       </ul>
    </nav>
    <nav class="social-media">
       <ul>
         <li>
           <a href="https://adalab.es/">Twitter</a>
         </li>
         <li>
           <a href="https://adalab.es/">Instagram</a>
         </li>
         <li>
           <a href="https://adalab.es/">Mastodon.social</a>
         </li>
      </ul>
    </nav>
    <div class="copy">
     <span> &copy 2017</span>
     <div>
       <span>we</span>
       <i class="fas fa-heart"></i>
       <span>components</span>
     </div>
    </div>
  </div>
</footer>
  
