<section class="reasons" id="reasons">
  <div class="wrapper">
   <h2> 3 reasons to purchase</h2>
   <div class="wrapper-div">
     <article>
       <h3> Ut sed metus</h3>
       <p>Lorem ipsum dolor, sit amet consectetur.</p>
     </article>
     <article>
       <h3> Curabitur ac erat</h3>
       <p> 
         Mauris mattis urna quis lorem molestie.</p>
     </article>
     <article>
       <h3>Morbi dictum</h3>
       <p> 
         Aliquem in dolor et dolor tincidunt.
       </p>
     </article>
   </div> 
   <div class="button-reasons">
     <span>More reasons</span>
   </div>
 </div>
</section>