/*fonts*/
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Roboto Slab', serif;

/*colors*/

$color-primary: white;
$color-secondary: black;
$color-light: #8ccbea;
$color-medium: #f26002;
$color-dark: #0271bc;


