 
  .reasons {
    width: 100%;
    padding:30px 15px;
    background-color: #eff9ff ;

    .wrapper {
      width: 100%;
      min-width: 320px;
      display: grid;
      align-content: center;
      grid-template-columns: 20% 60% 20%;
      margin-bottom: 30px;

       @media all and(min-width:768px) {
        grid-template-columns: 5% 90% 5%;
       }

       @media all and (min-width: 1200px){
         justify-content: center;

       }
      h2 {
        grid-column: span 3;
        justify-self: center;
        font-family: $font-family-secondary;
        font-size:24px;
        text-transform: capitalize;

        @media all and(min-width:768px) {
          font-size: 26px;
        }
      }

      .wrapper-div {
        grid-column:2/3;
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: $font-family-primary;
        font-size: 18px;
        line-height: 30px;

        @media all and(min-width:768px) {
          flex-direction: row;
        }

        article {
          margin: 30px 0px;

          @media all and(min-width:768px) {
            margin: 45px 13px;
          }
        
          h3 {
           font-family: $font-family-secondary;

             @media all and(min-width:768px) {
               font-size:24px;
               margin:10px 0px;
              }
          }   
          
          p{
            @media all and (min-width:768px){
              font-size: 20px;
            }
          }
        }

      }

      .button-reasons{
        width: 184px;
        height: 45px;
        margin-top:30px;
        padding: 10px 0px;
        background-color: $color-medium;
        border-radius: 50px;
        grid-column:2/3;
        justify-self: center;
        text-align: center;
        -webkit-transition: background-color ease 0.8s, box-shadow ease 0.8s;
        -moz-transition: background-color ease 0.8s, box-shadow ease 0.8s;
        -ms-transition: background-color ease 0.8s, box-shadow ease 0.8s;
        -o-transition: background-color ease 0.8s, box-shadow ease 0.8s;
        transition: background-color ease 0.8s, box-shadow ease 0.8s;
                

        @media all and(min-width:768px) {
          width: 210px;
        }

        @media all and(min-width:1200%) {
          width: 255px;
        }


        span {
          color: $color-primary;
          font-family: $font-family-primary;
          font-size: 20px;
        }
      }

      .button-reasons:hover {
        background-color: $color-dark;
        box-shadow: $color-medium 0px 0px 3px 2px;
        cursor: pointer;
      }
    }
  }